---
http_interactions:
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/authentication
    body:
      encoding: UTF-8
      string: '{"user":"<OCTOPUS_USER>","password":"<OCTOPUS_PASSWORD>"}'
    headers:
      Softwarehouseuuid:
      - "<SOFTWARE_HOUSE_ID>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<AUTH_TOKEN>"}'
  recorded_at: Tue, 12 May 2026 10:47:34 GMT
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers?dossierId=49555
    body:
      encoding: UTF-8
      string: ''
    headers:
      Token:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Dossiertoken":"<DOSSIER_TOKEN>"}'
  recorded_at: Tue, 12 May 2026 10:47:34 GMT
- request:
    method: get
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/bookyears
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"bookyearDescription":"2000","bookyearKey":{"id":1},"closed":false,"endDate":"2000-12-31","periods":[{"bookyearPeriod":200001,"endDate":"2000-01-31","startDate":"2000-01-01"},{"bookyearPeriod":200002,"endDate":"2000-02-29","startDate":"2000-02-01"},{"bookyearPeriod":200003,"endDate":"2000-03-31","startDate":"2000-03-01"},{"bookyearPeriod":200004,"endDate":"2000-04-30","startDate":"2000-04-01"},{"bookyearPeriod":200005,"endDate":"2000-05-31","startDate":"2000-05-01"},{"bookyearPeriod":200006,"endDate":"2000-06-30","startDate":"2000-06-01"},{"bookyearPeriod":200007,"endDate":"2000-07-31","startDate":"2000-07-01"},{"bookyearPeriod":200008,"endDate":"2000-08-31","startDate":"2000-08-01"},{"bookyearPeriod":200009,"endDate":"2000-09-30","startDate":"2000-09-01"},{"bookyearPeriod":200010,"endDate":"2000-10-31","startDate":"2000-10-01"},{"bookyearPeriod":200011,"endDate":"2000-11-30","startDate":"2000-11-01"},{"bookyearPeriod":200012,"endDate":"2000-12-31","startDate":"2000-12-01"}],"startDate":"2000-01-01"}]'
  recorded_at: Tue, 12 May 2026 10:47:34 GMT
[...]
- request:
    method: get
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/bookyears/1/journals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"bookyearKey":{"id":1},"closed":false,"closedPeriod":0,"insertionType":1,"journalKey":"D1","lastBookedDocumentNr":1,"name":"Opening","protectedPeriod":0},{"bookyearKey":{"id":1},"closed":false,"closedPeriod":0,"currencyCode":"EUR","insertionType":1,"journalKey":"F1","lastBookedDocumentNr":5,"name":"Bank
        ING","protectedPeriod":0},{"bookyearKey":{"id":1},"closed":false,"closedPeriod":0,"insertionType":1,"journalKey":"D2","lastBookedDocumentNr":1,"name":"Diverse","protectedPeriod":0},{"bookyearKey":{"id":1},"closed":false,"closedPeriod":0,"insertionType":2,"journalKey":"V2","lastBookedDocumentNr":0,"name":"Verkoopsfacturen","protectedPeriod":0},{"bookyearKey":{"id":1},"closed":false,"closedPeriod":0,"insertionType":1,"journalKey":"A1","lastBookedDocumentNr":6,"name":"AANKOPEN","protectedPeriod":0},{"bookyearKey":{"id":1},"closed":false,"closedPeriod":0,"insertionType":1,"journalKey":"V1","lastBookedDocumentNr":2,"name":"VERKOOP","protectedPeriod":0}]'
  recorded_at: Tue, 12 May 2026 10:47:34 GMT
[...]
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/financialdiversbookings
    body:
      encoding: UTF-8
      string: '{"financialDiversBookingServiceData":{"bookyearKey":{"id":1},"journalKey":"F1","documentSequenceNr":1,"bookyearPeriodeNr":1,"documentDate":"2026-05-12","exchangeRate":1.0,"bookingLines":[{"type":"A","amount":100.0,"accountKey":550000,"reference":"DOK-FIN-TEST
        debit"},{"type":"A","amount":-100.0,"accountKey":400000,"reference":"DOK-FIN-TEST
        credit"}]}}'
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorCode":-13,"errorMessage":"Het document nummer is ongeldig. Het
        document nummer dient tevens oplopend te zijn en dient opeenvolgend te zijn
        met het laatste document nummer van het dagboek.","technicalInfo":"Unable
        to insert booking in dossier 49555.  Illegal document sequence nr.  Last Document
        : 5"}'
  recorded_at: Tue, 12 May 2026 10:47:34 GMT
recorded_with: VCR 6.4.0
