---
http_interactions:
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/authentication
    body:
      encoding: UTF-8
      string: '{"user":"<OCTOPUS_USER>","password":"<OCTOPUS_PASSWORD>"}'
    headers:
      Softwarehouseuuid:
      - "<SOFTWARE_HOUSE_ID>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<AUTH_TOKEN>"}'
  recorded_at: Mon, 11 May 2026 20:26:35 GMT
- request:
    method: get
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"dossierDescription":"by2.be","dossierKey":{"id":49555},"vatNr":"BE0000.000.097","city":"Brugge","country":"BE","email":"","languageCode":"nl","postalCode":"8000","streetAndNr":"Kolenkaai
        68","url":""}]'
  recorded_at: Mon, 11 May 2026 20:26:35 GMT
recorded_with: VCR 6.4.0
