---
http_interactions:
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/authentication
    body:
      encoding: UTF-8
      string: '{"user":"<OCTOPUS_USER>","password":"<OCTOPUS_PASSWORD>"}'
    headers:
      Softwarehouseuuid:
      - "<SOFTWARE_HOUSE_ID>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<AUTH_TOKEN>"}'
  recorded_at: Sun, 17 May 2026 09:22:24 GMT
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers?dossierId=49555
    body:
      encoding: UTF-8
      string: ''
    headers:
      Token:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Dossiertoken":"<DOSSIER_TOKEN>"}'
  recorded_at: Sun, 17 May 2026 09:22:24 GMT
- request:
    method: get
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/bookyears
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"bookyearDescription":"2000","bookyearKey":{"id":1},"closed":false,"endDate":"2000-12-31","periods":[{"bookyearPeriod":200001,"endDate":"2000-01-31","startDate":"2000-01-01"},{"bookyearPeriod":200002,"endDate":"2000-02-29","startDate":"2000-02-01"},{"bookyearPeriod":200003,"endDate":"2000-03-31","startDate":"2000-03-01"},{"bookyearPeriod":200004,"endDate":"2000-04-30","startDate":"2000-04-01"},{"bookyearPeriod":200005,"endDate":"2000-05-31","startDate":"2000-05-01"},{"bookyearPeriod":200006,"endDate":"2000-06-30","startDate":"2000-06-01"},{"bookyearPeriod":200007,"endDate":"2000-07-31","startDate":"2000-07-01"},{"bookyearPeriod":200008,"endDate":"2000-08-31","startDate":"2000-08-01"},{"bookyearPeriod":200009,"endDate":"2000-09-30","startDate":"2000-09-01"},{"bookyearPeriod":200010,"endDate":"2000-10-31","startDate":"2000-10-01"},{"bookyearPeriod":200011,"endDate":"2000-11-30","startDate":"2000-11-01"},{"bookyearPeriod":200012,"endDate":"2000-12-31","startDate":"2000-12-01"}],"startDate":"2000-01-01"}]'
  recorded_at: Sun, 17 May 2026 09:22:25 GMT
[...]
- request:
    method: get
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/buysellbookings?bookyearKeyId=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"technicalInfo":"Invalid or missing parameters passed"}'
  recorded_at: Sun, 17 May 2026 09:22:25 GMT
- request:
    method: get
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/buysellbookings/modified?bookyearId=1&modifiedTimeStamp=2000-01-01%2000:00:00.000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"amount":5706.12,"bookingLines":[{"accountKey":230000,"baseAmount":4715.8,"comment":"Stroomgenerator
        BELLEKENS MECHELEN NV","vatAmount":990.32,"vatCodeKey":"I21","vatRecupPercentage":100.0}],"bookyearKey":{"id":1},"bookyearPeriodeNr":200001,"comment":"Stroomgenerator","currencyCode":"EUR","documentDate":"2000-11-30","documentSequenceNr":6,"exchangeRate":1.0,"expiryDate":"2000-11-30","journalKey":"A1","paymentMethod":1,"reference":"Stroomgenerator","relationIdentificationServiceData":{"externalRelationId":0,"relationKey":{"id":27}}},{"amount":2544.0,"bookingLines":[{"accountKey":700100,"baseAmount":2400.0,"comment":"Lever.
        dd 01012000 De Zeesnoepers","vatAmount":144.0,"vatCodeKey":"06"}],"bookyearKey":{"id":1},"bookyearPeriodeNr":200003,"comment":"Levering","currencyCode":"EUR","documentDate":"2000-03-01","documentSequenceNr":1,"exchangeRate":1.0,"expiryDate":"2000-03-01","journalKey":"V1","paymentMethod":0,"reference":"Levering","relationIdentificationServiceData":{"externalRelationId":0,"relationKey":{[...]
