---
http_interactions:
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/authentication
    body:
      encoding: UTF-8
      string: '{"user":"<OCTOPUS_USER>","password":"<OCTOPUS_PASSWORD>"}'
    headers:
      Softwarehouseuuid:
      - "<SOFTWARE_HOUSE_ID>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<AUTH_TOKEN>"}'
  recorded_at: Sat, 06 Jun 2026 13:33:50 GMT
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers?dossierId=49555
    body:
      encoding: UTF-8
      string: ''
    headers:
      Token:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Dossiertoken":"<DOSSIER_TOKEN>"}'
  recorded_at: Sat, 06 Jun 2026 13:33:50 GMT
- request:
    method: delete
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/balancings/delete
    body:
      encoding: UTF-8
      string: '{"debetKey":{"bookyearKey":{"id":1},"journalKey":"V1","documentSequenceNr":1,"lineSequenceNr":-1},"creditKey":{"bookyearKey":{"id":1},"journalKey":"F1","documentSequenceNr":2,"lineSequenceNr":1}}'
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Jun 2026 13:33:50 GMT
[...]
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/balancings
    body:
      encoding: UTF-8
      string: '{"debetKey":{"bookyearKey":{"id":1},"journalKey":"V1","documentSequenceNr":1,"lineSequenceNr":-1},"creditKey":{"bookyearKey":{"id":1},"journalKey":"F1","documentSequenceNr":2,"lineSequenceNr":1},"balanceAmount":2544.0}'
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Jun 2026 13:33:51 GMT
[...]
- request:
    method: get
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers/49555/balancings/modified?modifiedTimeStamp=2000-01-01%2000:00:00.000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Dossiertoken:
      - "<DOSSIER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"deletedBalancings":[],"modifiedBalancings":[{"creditBalancedBookingAmount":2544.0,"creditDocument":{"balancingKey":{"bookyearKey":{"id":1},"documentSequenceNr":2,"journalKey":"F1","lineSequenceNr":1},"comment":"2010/V1/1","creditBookingAmount":2544.0,"creditDocumentAmount":2544.0,"currencyCode":"EUR","debetBookingAmount":0.0,"debetDocumentAmount":0.0,"documentDate":"2000-01-27","exchangeRate":1.0,"reference":""},"debetBalancedBookingAmount":0.0,"debetDocument":{"balancingKey":{"bookyearKey":{"id":1},"documentSequenceNr":1,"journalKey":"V1","lineSequenceNr":-1},"comment":"Levering","creditBookingAmount":0.0,"creditDocumentAmount":0.0,"currencyCode":"EUR","debetBookingAmount":2544.0,"debetDocumentAmount":2544.0,"documentDate":"2000-03-01","exchangeRate":1.0,"reference":"Levering"},"type":{"accountNr":0,"externalRelationId":0,"relationKey":{"id":16},"type":"C"}},{"creditBalancedBookingAmount":34.0,"creditDocument":{"balancingKey":{"bookyearKey":{"id":1},"documentSequenceNr":3,"journalKey":"A1","lineSequenceNr":-1},"comment":"09-1254
        - Hosting domain name","creditBookingAmount":34.0,"creditDocumentAmount":34.0,"currencyCode":"EUR","debetBookingAmount":0.0,"debetDocumentAmount":0.0,"documentDate":"2000-01-17","exchangeRate":1.0,"reference":"09-1254
        - Hosting domain name"},"debetBalancedBookingAmount":0.0,"debetDocume[...]
