---
http_interactions:
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/authentication
    body:
      encoding: UTF-8
      string: '{"user":"<OCTOPUS_USER>","password":"<OCTOPUS_PASSWORD>"}'
    headers:
      Softwarehouseuuid:
      - "<SOFTWARE_HOUSE_ID>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<AUTH_TOKEN>"}'
  recorded_at: Mon, 11 May 2026 20:26:34 GMT
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/dossiers?dossierId=49555
    body:
      encoding: UTF-8
      string: ''
    headers:
      Token:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Dossiertoken":"<DOSSIER_TOKEN>"}'
  recorded_at: Mon, 11 May 2026 20:26:34 GMT
recorded_with: VCR 6.4.0
