---
http_interactions:
- request:
    method: post
    uri: https://service.inaras.be/octopus-rest-api/v1/authentication
    body:
      encoding: UTF-8
      string: '{"user":"invalid_user","password":"invalid_password"}'
    headers:
      Softwarehouseuuid:
      - "<SOFTWARE_HOUSE_ID>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"technicalInfo":"Incrementing failed login attempt count for user
        invalid_user, IP address 87.66.132.36. "}'
  recorded_at: Mon, 11 May 2026 20:26:35 GMT
recorded_with: VCR 6.4.0
