{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Octopus Rest API",
    "description" : "API to connect with Octopus",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://service.inaras.be/octopus-rest-api/v1"
  } ],
  "tags" : [ {
    "name" : "Authentication",
    "description" : "The first step before you can connect to a dossier. "
  }, {
    "name" : "Dossiers",
    "description" : "List dossiers the user has access rights on, and connect to a particular dossier (= receive a dossierToken).  You need a Dossiertoken before you can do any other call."
  }, {
    "name" : "Invoices",
    "description" : "To use these functions, the (charged !) invoice module has to be activated in the dossier. If invoices are already being created in another software, usually clients don't need to create them in Octopus, but rather want to create buy/sell bookings (see Buy Sell Bookings section)."
  } ],
  "paths" : {
    "/about/version" : {
      "get" : {
        "tags" : [ "About" ],
        "summary" : "Get Api version",
        "description" : "Return the Api internal version number",
        "operationId" : "getApiVersion",
        "responses" : {
          "200" : {
            "description" : "Version number returned",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/accounts" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Get Accounts",
        "description" : "Accept dossier token and bookyear Id and return Accounts.<BR><BR>Maximum allowed calls per day: 2",
        "operationId" : "getAccounts",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "bookyearId",
          "in" : "query",
          "description" : "Bookyear ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "Dossier Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No accounts found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Account array returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccountServiceData"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounts" ],
        "summary" : "Modify or Create Account",
        "description" : "Accept dossier token and modified or new account.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "insertUpdateAccount",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "Dossier Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Account",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Account created"
          },
          "204" : {
            "description" : "Account updated"
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/accounts/amounts/modified" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Get Modified Account Amounts",
        "description" : "Accept dossier token, modified timestamp, and return modified/deleted Account Amounts.<BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getModifiedAccountAmounts",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "modifiedTimeStamp",
          "in" : "query",
          "description" : "Modified Timestamp",
          "schema" : {
            "type" : "string",
            "example" : "2020-02-08 14:55:00.000"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "Dossier Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No modified account amounts found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Modified/deleted Account Amount arrays returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncAccountAmounts"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/accounts/modified" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Get Modified Accounts",
        "description" : "Accept dossier token, modified timestamp, and return modified/deleted Accounts.  <BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getModifiedAccounts",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "modifiedTimeStamp",
          "in" : "query",
          "description" : "Modified Timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "2020-02-08 14:55:00.000"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "Dossier Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No modified accounts found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Modified/deleted Account arrays returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncAccounts"
                }
              }
            }
          }
        }
      }
    },
    "/authentication" : {
      "get" : {
        "tags" : [ "Authentication" ],
        "summary" : "Whoami",
        "description" : "Get user information from a token",
        "operationId" : "whoami",
        "parameters" : [ {
          "name" : "Token",
          "in" : "header",
          "description" : "The token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "UserServiceData returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticationToken"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Authentication" ],
        "summary" : "Authenticate",
        "description" : "Authenticate user and return a JWT token (valid for 10 minutes)",
        "operationId" : "authenticateUser",
        "parameters" : [ {
          "name" : "softwareHouseUuid",
          "in" : "header",
          "description" : "The Software House ID (provided by Octopus)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The user name and password for login",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Credentials"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid credentials or softwarehouse Uuid provided",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Authentication Token Generated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticationToken"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/balancings/delete" : {
      "delete" : {
        "tags" : [ "Balancings" ],
        "summary" : "Delete balancing",
        "description" : "Accept dossier token and balancing key, and delete balancing.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "deleteBalancing",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Balancing item debet and credit identification",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteBalancingItemRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Balancing deleted",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/balancings/bookingline/delete" : {
      "delete" : {
        "tags" : [ "Balancings" ],
        "summary" : "Delete all balancing data for a specific booking line",
        "description" : "Accept dossier token and Balancing Key Service Data, and delete balancing data.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "deleteBalancingByBookingline",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Balancing key identification",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BalancingKeyServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Balancing data deleted",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/balancings/document/delete" : {
      "delete" : {
        "tags" : [ "Balancings" ],
        "summary" : "Delete all balancing data for a document",
        "description" : "Accept dossier token and document key, and delete balancing data.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "deleteBalancingByDocument",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Balancing data document identification",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentKeyServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Balancing data deleted",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/balancings/modified" : {
      "get" : {
        "tags" : [ "Balancings" ],
        "summary" : "Get modified balancings ",
        "description" : "Accept dossier token and modifiedTimeStamp and return modified and deleted balancings.<BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getModifiedBalancingRelations",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "modifiedTimeStamp",
          "in" : "query",
          "description" : "Modified Timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "2020-02-08 14:55:00.000"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No modified balancings found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Modified balancings returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncBalancings"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/balancings" : {
      "post" : {
        "tags" : [ "Balancings" ],
        "summary" : "Insert balancing",
        "description" : "Accept dossier token and balancing data, and insert balancing.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "insertBalancing",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Balancing data object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BalancingServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "201" : {
            "description" : "Balancing inserted",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/paymentlist/freepayment" : {
      "post" : {
        "tags" : [ "Bank" ],
        "summary" : "Add a free payment to the payment list",
        "description" : "Create a new entry in the payment list based on data provided by the user.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "addFreePaymentToPaymentList",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payment to add to payment list",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddFreePaymentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Newly added payment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankPaymentServiceData"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/paymentlist" : {
      "get" : {
        "tags" : [ "Bank" ],
        "summary" : "Retrieve the payment list",
        "description" : "Accept dossier token and return payment list.<BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getPaymentList",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Payment list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BankPaymentServiceData"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Bank" ],
        "summary" : "Add an invoice to the payment list",
        "description" : "Create a new entry in the payment list based on an unbalanced invoice. The amount can differ from the invoice amount, but should be smaller than the open invoice amount. It is also possible to define a different reference.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "addInvoiceToPaymentList",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "amount",
          "in" : "query",
          "description" : "Payable amount (must be positive and smaller than or equal to the invoice amount)",
          "schema" : {
            "type" : "number",
            "format" : "double"
          }
        }, {
          "name" : "reference",
          "in" : "query",
          "description" : "Reference",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "iban",
          "in" : "query",
          "description" : "IBAN",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "BIC (only used if IBAN is provided)",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Invoice to add to payment list (only used to identify the invoice)",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankDocumentServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Newly added payment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankPaymentServiceData"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/enveloppes/{enveloppeKeyId}/add" : {
      "post" : {
        "tags" : [ "Bank" ],
        "summary" : "Add a payment to an existing envelope",
        "description" : "Accept dossier token. Add payment to an envelope.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "addPaymentToEnveloppe",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enveloppeKeyId",
          "in" : "path",
          "description" : "Enveloppe Key ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Payment",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankPaymentServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Updated envelope",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnveloppeServiceData"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/enveloppes/{enveloppeKeyId}/export" : {
      "post" : {
        "tags" : [ "Bank" ],
        "summary" : "Export payments from an existing envelope",
        "description" : "Accept dossier token. Export payments from an envelope to xml file",
        "operationId" : "exportEnveloppe",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enveloppeKeyId",
          "in" : "path",
          "description" : "Enveloppe Key ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Export Request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExportEnveloppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Payment file",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/enveloppes/{enveloppeKeyId}" : {
      "get" : {
        "tags" : [ "Bank" ],
        "summary" : "Retrieve the content of an envelope",
        "description" : "Accept dossier token and envelope key and return the payments contained in the envelope.<BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getEnveloppeContent",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enveloppeKeyId",
          "in" : "path",
          "description" : "Enveloppe Key ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Payments",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BankPaymentServiceData"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Bank" ],
        "summary" : "Update an existing envelope",
        "description" : "Accept dossier token and update an existing envelope.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "updateEnveloppe",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enveloppeKeyId",
          "in" : "path",
          "description" : "Enveloppe Key ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Data to update in the enveloppe",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateEnveloppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Updated envelope",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnveloppeServiceData"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Bank" ],
        "summary" : "Remove an existing envelope",
        "description" : "Accept dossier token and remove an existing envelope.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "removeEnveloppe",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enveloppeKeyId",
          "in" : "path",
          "description" : "Enveloppe Key ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Envelope deleted successfully"
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/enveloppes" : {
      "get" : {
        "tags" : [ "Bank" ],
        "summary" : "Retrieve all envelopes",
        "description" : "Accept dossier token and return list of envelopes.<BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getEnveloppes",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Envelopes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EnveloppeServiceData"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Bank" ],
        "summary" : "Create a new envelope",
        "description" : "Accept dossier token and create a new envelope.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "insertEnveloppe",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request data for the new enveloppe",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewEnveloppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Enveloppe",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnveloppeServiceData"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/invoices" : {
      "get" : {
        "tags" : [ "Bank" ],
        "summary" : "Retrieve a list of unbalanced invoices",
        "description" : "Accept dossier token and return unbalanced invoices.<BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getUnbalancedInvoices",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Unbalanced invoices array returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BankDocumentServiceData"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/enveloppes/{enveloppeKeyId}/remove" : {
      "post" : {
        "tags" : [ "Bank" ],
        "summary" : "Remove a payment from an existing envelope",
        "description" : "Accept dossier token. Remove payment from an envelope.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "removePaymentFromEnveloppe",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enveloppeKeyId",
          "in" : "path",
          "description" : "Enveloppe Key ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Payment",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankPaymentServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Updated envelope",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnveloppeServiceData"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/bank/paymentlist/{paymentListKeyId}" : {
      "delete" : {
        "tags" : [ "Bank" ],
        "summary" : "Remove a payment from the payment list.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "removePaymentFromPaymentList",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "paymentListKeyId",
          "in" : "path",
          "description" : "Payment list key",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Payment deleted successfully"
          }
        }
      }
    },
    "/dossiers/{dossierId}/bookyears/{bookyearId}/bookings/attachements" : {
      "post" : {
        "tags" : [ "Bookings" ],
        "summary" : "Add Attachement to booking",
        "description" : "Accept dossiertoken, Dossier ID, Bookyear Key, Journal Key, Document sequence Nr. and attachement.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "addAttachementToBooking",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "bookyearId",
          "in" : "path",
          "description" : "Bookyear Id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "journalKey",
          "in" : "header",
          "description" : "Journal Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "documentSequennceNr",
          "in" : "header",
          "description" : "Document Sequence Nr",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Attachement",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachementData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Attachement added to booking"
          }
        }
      }
    },
    "/dossiers/{dossierId}/bookyears/{bookyearId}/bookings/modified" : {
      "get" : {
        "tags" : [ "Bookings" ],
        "summary" : "Get modified bookings",
        "description" : "Accept dossier token, bookyear Id, Journal Type Id and modifiedTimeStamp and return modified and deleted bookings lists.<BR><BR>This API call returns a detailed report of all operations that have occurred in the open dossier.To avoid overloading the web service, it is necessary to request the data in a controlled manner.<BR>If no previous synchronizations have been performed, it is mandatory to first request the data per fiscal year and per journal type.It is not required to synchronize ALL fiscal years. The fiscal years can be easily retrieved with the API call GetBookyears.<BR><BR>Parameters:<ul><li>BookyearKey: From the list of fiscal years (keys) via GetBookyears </li><li>JournalType: 1 = Purchases, 2 = Sales, 3 = Financial, 4 = Various operations </li><li>modifiedTimeStamp: Date since last synchronization </li></ul><BR>Initial situation: - no data synchronized: modifiedTimeStamp = 1980-01-01 00:00:00.000<BR>GetBookyears Returns 3 fiscal years (1, 2, 3)<ul><li>BookyearKey 1  </li><ul><li>GetReportModifiedBooking for bookyearkey 1, journal type 1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetReportModifiedBooking for bookyearkey 1, journal type 2, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetReportModifiedBooking for bookyearkey 1, journal type 3, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetReportModifiedBooking for bookyearkey 1, journal type 4, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li></ul><li>BookyearKey 2 </li><ul><li>GetReportModifiedBooking for bookyearkey 2, journal type 1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetReportModifiedBooking for bookyearkey 2, journal type 2, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul><li>BookyearKey 3  </li><ul><li>GetReportModifiedBooking for bookyearkey 3, journal type 1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetReportModifiedBooking for bookyearkey 3, journal type 2, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul></ul><BR>So after three times four calls, all data from the three fiscal years has been received.Then one can receive the incremental changes to all fiscal years by executing the call with:<p>BookyearKey: -1  JournalType: -1  modifiedTimeStamp: 2022-08-01 14:52:45.000 </p><BR>This will return only modified bookings since that date.<BR>modifiedTimeStampTo is optional and can be used to specify the end of the time range to filter modified bookings, to limit the amount of data returned.<BR><BR>Maximum allowed calls per day: 48",
        "operationId" : "getReportModifiedBooking",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bookyearId",
          "in" : "path",
          "description" : "Bookyear ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "journalTypeId",
          "in" : "query",
          "description" : "Journal Type ID (1 = Buy, 2 = Sell, 3 = Financial, 4 = Divers)",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "modifiedTimeStamp",
          "in" : "query",
          "description" : "Modified Timestamp From",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "2025-02-08 14:55:00.000"
          }
        }, {
          "name" : "modifiedTimeStampTo",
          "in" : "query",
          "description" : "Modified Timestamp To",
          "schema" : {
            "type" : "string",
            "example" : "2025-03-08 14:55:00.000"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No modified bookings found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Modified bookings returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncBookings"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/buysellbookings" : {
      "get" : {
        "tags" : [ "Buy Sell Bookings" ],
        "summary" : "Get Buy Sell Booking",
        "description" : "Accept Dossier ID, Dossier token, Bookyear Id, Journal ID, Document Nr and return Buy/Sell Booking.<BR><BR>Maximum allowed calls per day: 10",
        "operationId" : "getBuySellBooking",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bookyearId",
          "in" : "query",
          "description" : "Bookyear ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "journalKey",
          "in" : "query",
          "description" : "Journal Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "documentSeqNr",
          "in" : "query",
          "description" : "Document Nr",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "Booking not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Booking returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuySellBookingServiceData"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Buy Sell Bookings" ],
        "summary" : "Update Booking",
        "description" : "Modify Buy/Sell Booking.<BR><BR>Maximum allowed calls per day: 10",
        "operationId" : "updateBuySellBooking",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Buy/Sell Booking object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BuySellBookingServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "500" : {
            "description" : "Invalid elements in the passed object (eg. wrong date format)"
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403" : {
            "description" : "Journal either closed or open by other user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Buy/Sell booking updated"
          }
        }
      },
      "post" : {
        "tags" : [ "Buy Sell Bookings" ],
        "summary" : "Create Buy Sell Booking",
        "description" : "Create Buy Sell Booking, with or without attachements. Remark: To book a credit note, the total amount should be negative, whilst the line amounts that 'contribute to' the credit note have to be positive.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "insertBuySellBooking",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Buy/Sell Booking object and attachment list",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BuySellBookingAndAttachmentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "500" : {
            "description" : "Invalid elements in the passed object (eg. wrong date format)"
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403" : {
            "description" : "Journal either closed or open by other user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "201" : {
            "description" : "Buy/Sell booking created"
          }
        }
      }
    },
    "/dossiers/{dossierId}/buysellbookings/modified" : {
      "get" : {
        "tags" : [ "Buy Sell Bookings" ],
        "summary" : "Get modified Buy/Sell Bookings",
        "description" : "Accept dossier token, bookyear Id, Journal Key and modifiedTimeStamp and return modified buy sell bookings.<BR><BR>Maximum allowed calls per day: 48<BR><BR>This API call returns a detailed report of all modified buy/sell bookings in the opened dossier.To avoid overloading the web service, it is necessary to request the data in a controlled manner.<BR>If no previous synchronizations have been performed, it is mandatory to first request the data per fiscal year and per journal type.It is not required to synchronize ALL fiscal years. The fiscal years can be easily retrieved with the API call GetBookyears.<BR><BR>Parameters:<ul><li>BookyearKey: From the list of fiscal years (keys) via GetBookyears </li><li>JournalKey: The journal key as a string, eg. 'V1', 'A1' </li><li>modifiedTimeStamp: Date since last synchronization </li></ul><BR>Initial situation: - no data synchronized: modifiedTimeStamp = 1980-01-01 00:00:00.000<BR>GetBookyears Returns 3 fiscal years (1, 2, 3)<ul><li>BookyearKey 1  </li><ul><li>GetModifiedBuySellBookings for bookyearkey 1, journal Key V1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetModifiedBuySellBookings for bookyearkey 1, journal Key A1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul><li>BookyearKey 2 </li><ul><li>GetModifiedBuySellBookings for bookyearkey 2, journal Key V1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetModifiedBuySellBookings for bookyearkey 2, journal Key A1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul><li>BookyearKey 3  </li><ul><li>GetModifiedBuySellBookings for bookyearkey 3, journal Key V1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetModifiedBuySellBookings for bookyearkey 3, journal Key A1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul></ul><BR>So after three times a call per Journal, all data from the three fiscal years has been received.Then one can receive the incremental changes to all fiscal years by executing the call with:<p>BookyearKey: -1 and No JournalKey:   modifiedTimeStamp: 2022-08-01 14:52:45.000 </p><BR>This will return only modified bookings since that date.",
        "operationId" : "getModifiedBuySellBookings",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bookyearId",
          "in" : "query",
          "description" : "Bookyear ID (can be -1)",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "journalKey",
          "in" : "query",
          "description" : "Journal Key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "modifiedTimeStamp",
          "in" : "query",
          "description" : "Modified Timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "2020-02-08 14:55:00.000"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No bookings found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Bookings returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BuySellBookingServiceData"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/coda" : {
      "post" : {
        "tags" : [ "Coda" ],
        "summary" : "Import coda",
        "description" : "Accept dossiertoken and coda data and import coda.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "importCoda",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publishPdfInDms",
          "in" : "query",
          "description" : "Indicates if a pdf file should be stored in Dms.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "Coda data",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CodaImportReportServiceData"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CodaImportReportServiceData"
                }
              }
            }
          },
          "200" : {
            "description" : "Coda Import Report Service Data returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CodaImportReportServiceData"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/costcentres/active" : {
      "get" : {
        "tags" : [ "CostCentres" ],
        "summary" : "Get Active (closed = false) Costcentres",
        "description" : "Accept dossier token and return active Costcentres.<BR><BR>Maximum allowed calls per day: 2",
        "operationId" : "getActiveCostCentres",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No active CostCentres found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "ConstCentre array returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CostCentreServiceData"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/costcentres" : {
      "get" : {
        "tags" : [ "CostCentres" ],
        "summary" : "Get Costcentres",
        "description" : "Accept dossier token and return Costcentres.<BR><BR>Maximum allowed calls per day: 2",
        "operationId" : "getCostCentres",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No CostCentres found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "ConstCentre array returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CostCentreServiceData"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "CostCentres" ],
        "summary" : "Update/Create Costcentre",
        "description" : "Accept dossiertoken and updated/new costcentre object, return status.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "insertUpdateCostCentre",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "Dossiertoken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Costcentre Object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CostCentreServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Costcentre created"
          },
          "204" : {
            "description" : "Costcentre updated"
          },
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/customfields" : {
      "get" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Get Custom Fields",
        "description" : "Accept dossier token and return Custom Fields.<BR><BR>Maximum allowed calls per day: 2",
        "operationId" : "getCustomFields",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "No Custom Fields found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Custom Fields array returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CustomFieldServiceData"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/deliverynotes/export" : {
      "get" : {
        "tags" : [ "Delivery Notes" ],
        "summary" : "Export Delivery Note",
        "description" : "Accept dossier token and export Delivery Note.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "exportDeliveryNote",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bookyearId",
          "in" : "query",
          "description" : "Bookyear ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "journalKey",
          "in" : "query",
          "description" : "Journal Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "documentSeqNr",
          "in" : "query",
          "description" : "Document Nr",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "returnDeliveryNote",
          "in" : "query",
          "description" : "return Delivery Note",
          "required" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "returnPdfDocument",
          "in" : "query",
          "description" : "return Pdf Document",
          "required" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "Document not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "ExportedDeliveryNoteResult object returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExportedDeliveryNoteResult"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/deliverynotes/generate" : {
      "post" : {
        "tags" : [ "Delivery Notes" ],
        "summary" : "Generate Delivery Note",
        "description" : "Generate Delivery Note in pdf format.  Rendering of the pdf is server-side.<BR>If exact rendering of the pdf is required, publish the pdf in the application and use the Export Delivery Note method.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "generateDeliveryNote",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bookyearId",
          "in" : "query",
          "description" : "Bookyear ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "journalKey",
          "in" : "query",
          "description" : "Journal Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "documentSeqNr",
          "in" : "query",
          "description" : "Document Nr",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "publishPdfDocument",
          "in" : "query",
          "description" : "publish Pdf Document",
          "required" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "returnDeliveryNote",
          "in" : "query",
          "description" : "return Delivery Note",
          "required" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "returnPdfDocument",
          "in" : "query",
          "description" : "return Pdf Document",
          "required" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "Document not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "ExportedDeliveryNoteResult object returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExportedDeliveryNoteResult"
                }
              }
            }
          }
        }
      }
    },
    "/dossiers/{dossierId}/deliverynotes" : {
      "get" : {
        "tags" : [ "Delivery Notes" ],
        "summary" : "Get Delivery Note",
        "description" : "Accept dossier token and return Delivery Note.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "getDeliveryNote",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bookyearId",
          "in" : "query",
          "description" : "Bookyear ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "journalKey",
          "in" : "query",
          "description" : "Journal Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "documentSeqNr",
          "in" : "query",
          "description" : "Document Nr",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "404" : {
            "description" : "Delivery Note not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200" : {
            "description" : "Delivery Note returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeliveryNoteServiceData"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Delivery Notes" ],
        "summary" : "Update Delivery Note",
        "description" : "Modify Delivery Note.<BR><BR>Maximum allowed calls per day: 10",
        "operationId" : "updateDeliveryNote",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "DeliveryNote object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeliveryNoteServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403" : {
            "description" : "Journal either closed or open by other user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Delivery Note updated"
          }
        }
      },
      "post" : {
        "tags" : [ "Delivery Notes" ],
        "summary" : "Create Delivery Note",
        "description" : "Create new Delivery Note.<BR><BR>Maximum allowed calls per day: 400",
        "operationId" : "insertDeliveryNote",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "DeliveryNote object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeliveryNoteServiceData"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired token presented, unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403" : {
            "description" : "Journal either closed or open by other user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "201" : {
            "description" : "Delivery Note created"
          }
        }
      }
    },
    "/dossiers/{dossierId}/deliverynotes/modified" : {
      "get" : {
        "tags" : [ "Delivery Notes" ],
        "summary" : "Get modified Delivery Notes",
        "description" : "Accept dossier token, bookyear Id, Journal Key and modifiedTimeStamp and return modified delivery notes.<BR><BR>Maximum allowed calls per day: 48<BR><BR>This API call returns a detailed report of all modified delivery notes in the opened dossier.To avoid overloading the web service, it is necessary to request the data in a controlled manner.<BR>If no previous synchronizations have been performed, it is mandatory to first request the data per fiscal year and per journal type.It is not required to synchronize ALL fiscal years. The fiscal years can be easily retrieved with the API call GetBookyears.<BR><BR>Parameters:<ul><li>BookyearKey: From the list of fiscal years (keys) via GetBookyears </li><li>JournalKey: The journal key as a string, eg. 'L1', 'L2' </li><li>modifiedTimeStamp: Date since last synchronization </li></ul><BR>Initial situation: - no data synchronized: modifiedTimeStamp = 1980-01-01 00:00:00.000<BR>GetBookyears Returns 3 fiscal years (1, 2, 3)<ul><li>BookyearKey 1  </li><ul><li>GetModifiedBuySellBookings for bookyearkey 1, journal Key L1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetModifiedBuySellBookings for bookyearkey 1, journal Key L2, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul><li>BookyearKey 2 </li><ul><li>GetModifiedBuySellBookings for bookyearkey 2, journal Key L1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetModifiedBuySellBookings for bookyearkey 2, journal Key L2, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul><li>BookyearKey 3  </li><ul><li>GetModifiedBuySellBookings for bookyearkey 3, journal Key L1, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>GetModifiedBuySellBookings for bookyearkey 3, journal Key L2, modifiedTimeStamp = 1980-01-01 00:00:00.000  </li><li>...</li></ul></ul><BR>So after three times a call per Journal, all data from the three fiscal years has been received.Then one can receive the incremental changes to all fiscal years by executing the call with:<p>BookyearKey: -1 and No JournalKey:   modifiedTimeStamp: 2022-08-01 14:52:45.000 </p><BR>This will return only modified delivery notes since that date.",
        "operationId" : "getModifiedDeliveryNotes",
        "parameters" : [ {
          "name" : "dossierId",
          "in" : "path",
          "description" : "Dossier ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dossierToken",
          "in" : "header",
          "description" : "dossierToken",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bookyearId",
          "in" : "query",
          "description" : "Bookyear ID (can be -1)",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "journalKey",
          "in" : "query",
          "description" : "Journal Key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "modifiedTimeStamp",
          "in" : "query",
          "description" : "Modified Timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "2020-02-08 14:55:00.000"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid or missing parameters passed",
            "content" : {
              "application/json" : {
                "schema" : {
[...]
